<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PornHub Video Uri Process</title>
</head>
<body>

<div style="width: 100%;text-align: center;color: red">
    <h2>将视频地址复制到浏览器打开即可</h2>
    <h2> Copy the video address to your browser and open it </h2>
</div>
<br>

<div style="color: red;width: 100%;text-align: center">视频标题</div>
<div style="color: red;width: 100%;text-align: center">Video Title</div>
<div th:text="${videoTitle}" style="text-align: center; width: 100%"/>
<br>

<div th:each="videoData:${videosDataMap}" style="width: 100%;text-align: center">
    <div th:text="${videoData.key}" style="color: red"/>
    <div th:text="${videoData.value}"/>
    <br>
    <br>
</div>


<div style="text-align: center"><a href="index.html" style="color: red"><h2>返回</h2></a></div>

</td>
</body>
</html>